<!--=== Content Part ===-->
<div class="container content">
<div class="row">
<div class="col-md-9">
  <!-- General Questions -->
  <div class="headline"><h2>자주 묻는 질문</h2></div>
  <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            1. 사용 언어 및 컴파일 버전에 제한이 있나요?
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            <p>사용 언어는 C, C++, Java 만 사용이 가능하며 각 언어별 버전은 C :gcc-4.8.3, C++ : g++-4.8.3, Java : java-1.7.0_80 입니다. 제출된 소스코드는 해당 컴파일 버전에서 컴파일 되어야 하며, Windows 또는 Linux에서 실행이 되어야 합니다.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            2. 정답 이외에 본인이 테스트를 위해 만든 로그를 출력해도 되나요?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <p>다른 개발툴 또는 편집툴에서 본인이 디버깅을 위해 사용한 출력 로그는 삭제 또는 주석 처리한 후 제출하셔야 합니다. 문제에서 요구하는 정답 외에 다른 로그를 출력할 경우 오답으로 처리됩니다.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
             3. Visual Studio, Eclipse, UltraEdit 같은 다른 개발툴 또는 편집툴을 사용할 수 있나요?
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <p>사용할 수 있습니다. 다른 툴에서 소스코드를 작성한 후, 소스코드를 복사하고 붙여 넣기 하시면 됩니다. 다만, 컴파일 버전 또는 설정 옵션 등의 차이로 문제가 발생할 수 있습니다.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            4. 순위는 어떤 방식으로 결정되나요?
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">
              <p>순위는 아래와 같은 우선순위로 결정됩니다.</br>가. 해결한 문제가 많은 순서</br>나. 패널티의 총 합이 적은 순서</br>(문제 별 패널티 = 대회 시작부터 문제를 해결하기까지 걸린 시간(분) + 틀린 횟수*20)</p>
          </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
            5. 참가자격에 제한이 있나요?
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
          <p>인하대학교 IT공대 소속 또는 IT공대 소속 학과를 부전공/복수전공으로 이수하는 학부생이면 모두 가능합니다.(부분등록, 휴학생 가능)</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
              6. 대회를 준비할 수 있는 방법을 알려주세요.
          </a>
        </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse">
        <div class="panel-body">
          <p>실제 대회를 acmicpc.net에서 진행할 예정이므로, acmicpc.net에 있는 문제들을 대상으로 연습하거나 문제예시에서 연습 문제를 보실 수 있습니다. 아래의 레퍼런스 사이트 또한 미리 살펴보시는 것을 권장합니다.</br>C/C++ : <a href = "http://en.cppreference.com/w/">http://en.cppreference.com/w/</a></br>Java :<a href = "Java :http://docs.oracle.com/javase/7/docs/api/">http://docs.oracle.com/javase/7/docs/api/</a></p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
            7. 대회 당일에 지참해야 하는 준비물을 알려주세요.
          </a>
        </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse">
        <div class="panel-body">
          <p>대회 참가자 모두 학생증을 필히 지참해야 하며, 대회 당일 사용할 노트북을 반드시 준비해야 합니다(팀 별로 한 대의 노트북만 사용가능). 또한, 개인 필기구/연습장 및 팀 노트를 사용할 수 있습니다.</br>(팀 노트 = 필요한 이론 또는 코드 등을 포함한 단면 25장 이하의 인쇄된 형태의 인쇄물)</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
            8. 시간 초과는 무엇인가요?
          </a>
        </h4>
      </div>
      <div id="collapseEight" class="panel-collapse collapse">
        <div class="panel-body">
          <p>각 문제마다 제출한 코드에 대한 프로그램의 수행시간(runtime)에 제한이 있으며, ‘시간초과’는 문제 별로 명시된 수행시간을 초과할 경우에 발생합니다.</br>(채점 데이터 중 큰 입력에 대한 수행시간이 너무 길거나 무한루프에 빠지는 경우 주로 발생합니다.)</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
            9. 대회시간은 얼마나 되나요?
          </a>
        </h4>
      </div>
      <div id="collapseNine" class="panel-collapse collapse">
        <div class="panel-body">
          <p>대회는 5시간 동안 진행되며, 대회가 끝난 후 문제풀이 및 시상식이 있을 예정입니다.</br>수상 대상자가 시상식에 참석하지 않을 경우, 입상 기회가 차순위 참가팀에게 양도됩니다.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
            10. 특별상의 경우는 어떻게 지급되나요?
          </a>
        </h4>
      </div>
      <div id="collapseTen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>현장에서 랜덤한 숫자를 이용하여 추첨하게 되며, 이미 상을 받은 경우 또 받으실 수 없습니다.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
            11. 점심은 어떻게 하나요?
          </a>
        </h4>
      </div>
      <div id="collapseEleven" class="panel-collapse collapse">
        <div class="panel-body">
          <p>점심은 대회주최측에서 제공해 드리며, 대회 중 원하시는 시간에 식사를 하시면 됩니다.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
            12. 참가자가 알아야 할 주의사항이 어떤것인가요?
          </a>
        </h4>
      </div>
      <div id="collapseTwelve" class="panel-collapse collapse">
        <div class="panel-body">
          <p>허용하는 레퍼런스 사이트 및 채점 사이트에 접속하는 이외의 용도로 인터넷을 사용하는 경우, 부정행위로 간주되며 대회 참가 자격을 박탈당하게 됩니다. 또한 다른 참가팀과 대화를 하거나 스마트폰 및 메신저를 사용하는 경우에도 부정행위로 간주됩니다.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
            13. 팀원이 3인이 안되는데 참가가 가능한가요?
          </a>
        </h4>
      </div>
      <div id="collapseThirteen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>반드시 3인 1팀으로 구성된 팀만 참가할 수 있습니다.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">
            14. IUPC대회 중간에 참가하거나 퇴장할 수 있나요?
          </a>
        </h4>
      </div>
      <div id="collapseFifteen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>대회는 사전에 등록한 팀만 참가할 수 있으며, 대회 당일 팀원 세 명이 모두 출석해야만 참가할 수 있습니다. 또, 대회 도중 화장실을 가는 경우를 제외하고는 대회장을 퇴장할 수 없습니다.</p>
        </div>
      </div>
    </div>
  </div><!--/acc-v1-->
</div><!--/col-md-9-->
<div class="col-md-3">
  <!-- Contacts -->
    <div class="headline"><h2>연락처</h2></div>
    <ul class="list-unstyled who margin-bottom-30">
        <li><a href="#"><i class="fa fa-envelope"></i>2015iupc@gmail.com</a></li>
        <li><a href="#"><i class="fa fa-phone"></i>010-2677-2637</a></li>
    </ul>
    <!-- End Contacts -->
</div><!--/col-md-3-->
</div>
</div>

<!--=== End Content Part ===-->
