<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->




 <!--=== Search Block ===-->
    <div class="search-block parallaxBg">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <h1><strong>1회 인하대학교 프로그래밍 경진대회</strong></h1></br>
                <h1><strong>The 1st Inha University Programming Contest</strong></h1></br>
            </div>
        </div>
    </div><!--/container-->
    <!--=== End Search Block ===-->

    <!--=== Content Part ===-->
    <div class="container content">
        <!--Title Box-->
        <!-- End Promo Box -->

        <!-- Promo Box -->
        <div class="row">
            <div class="col-md-4">
                <div class="promo-box">
                    <i class="fa fa-bullhorn color-blue"></i>
                    <strong>ACM-ICPC STYLE</strong>
                    <p>3인 1팀으로 구성되며 다양한 문제를 프로그래밍으로 해결하는 대회입니다. 해결한 문제의 수와 패널티로 순위가 결정됩니다.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="promo-box">
                    <i class="fa fa-bolt color-orange"></i>
                    <strong>사용 가능한 언어</strong>
                    <p>C, C++, C++11, JAVA만 사용 가능하며 다른 언어는 사용할 수 없습니다.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="promo-box">
                    <i class="fa fa-rocket color-sea"></i>
                    <strong>참가제한</strong>
                    <p>인하대학교 IT공대 학부생</br>(재학생 및 휴학생 복수전공 및 부전공 가능)</p>
                </div>
            </div>
        </div>
        <!-- End Promo Box -->
 
 
        <div class="row promo-service">
            <div class="col-md-6 md-margin-bottom-20">
                <div class = "headline">
                    <h2>상금</h2>
                </div>
                <ul class="list-unstyled margin-bottom-15">
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>대상 : 총장상 및 상금 50만원</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>금상 : 총장상 및 상금 30만원</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>은상 : 총장상 및 상금 20만원</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>동상 : 총장상 및 상금 10만원</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>수상팀을 제외하고 나머지 팀들 중 추첨을 통해 문화상품권이 수여됩니다.</li>
                </ul>
            </div>        
            <div class="col-md-6 md-margin-bottom-20">
                <div class = "headline">
                    <h2>대회 일정</h2>
                </div>
                <ul class="list-unstyled margin-bottom-15">
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><strong>참가신청</strong> : 2015년 11월 8일 PM 11:59까지</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><strong>예비소집</strong> : TBA(미 참가시 불이익이 있을 수 있습니다)</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><strong>본　대회</strong> : 2015년 11월 28일 AM 10:00 ~ PM 17:00 (점심식사 제공)</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><strong>대회장소</strong> : 인하대학교(세부 장소는 추후 공지)</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>대회는 5시간 동안 진행되며, 대회가 끝난 후 문제 설명 및 시상식이 있을 예정입니다.</li>
                </ul>
            </div>
            <div class="col-md-6 md-margin-bottom-20">
                <div class = "headline">
                    <h2>주의사항</h2>
                </div>
                <ul class="list-unstyled margin-bottom-15">
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>각 팀은 <b>반드시 1대의 컴퓨터</b>를 지참해서 사용해야 합니다.</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>대상 및 금상 수상자는 2회 <strong>IUPC</strong> 출전이 제한됩니다.</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>정해진 사이트 이외의 인터넷 사용은 부정행위로 간주됩니다.</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>팀 멤버 모두 대회당일 학생증을 지참해야 합니다.</li>
                    <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>허위 정보를 기재시 응시자격 박탈의 불이익을 받을 수 있습니다.</li>
                </ul>
            </div>
            <div class="col-md-6 md-margin-bottom-20">
                <div class = "headline">
                    <h2>주최 및 후원</h2>
                </div>
                <a href = "http://cse.inha.ac.kr/"><img class = "support-logo" src = "/inha-logo.png" ></a>
                <a href = "https://zoyi.co/"><img class = "support-logo" src = "/zoyi-logo.png"></a>
                <a href = "http://www.acmicpc.net/"><img class = "support-logo" src = "/boj-logo.png"  ></a>
                <img class = "support-logo"  src = "/ctp_large_logo.png">
            </div>
        </div>
        <!-- End Service Block -->
    </div>
    <hr class="margin-bottom-40">
    <!-- End Content Part -->

</div><!--/wrapper-->


<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        LayerSlider.initLayerSlider();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

