<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">연습문제</h1>
    </div>
</div>
<div class="container content">
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2">
      <div class = "tag-box tag-box-v3">
        <div class="row promo-service">
          <div class="col-md-12">
            <div class = "headline">
              <h2>문제설명</h2>
            </div>
            <p>
              드디어 CTP의 회식 날이다!! 하지만 사람들이 수줍음이 많아서 얘기 한마디 없이 계속해서 술만 마셨다. 그렇게 쌓인 소주병이 한 병이 되고, 두 병이 되고, 한 짝이 될 무렵 얼큰하게 술에 취한 부회장 재윤이가 술게임을 제안했다. 재윤이가 말한 게임은 다음과 같다. 회식에 참여한 사람 N명이 모두 자리에서 일어나고 (테이블은 원형으로 되어 있다)어떠한 순서대로 한명씩 앉기 시작해 가장 마지막에 서 있는 사람이 노래를 부르고 소주 글라스 한 잔을 마시자는 것이었다. 앉는 규칙은 다음과 같다. 한 사람이 앉으면, 다음에는 그 사람으로부터 시계 방향으로 K번 째 서있는 사람이 앉는 것이다. 술은 잘 마시지만 노래를 너무 못 불러 게임에서 지기 싫은 송이는(진위 여부는 확인이 안 되었다) 두뇌를 풀 가동시켜 게임에서 지는 사람은 처음 앉는 사람부터 몇 자리 떨어진 사람인가를 계산하고 그 위치를 피하려고 한다. 하지만 지금은 CTP의 르네상스 시대. 사람이 너무 많아 도저히 머리로는 계산이 안 되어 컴퓨터의 힘을 빌리고자 한다. 송이가 앉지 말아야 할 자리는 첫 번째 앉는 사람으로부터 몇 번째 떨어진 자리일까? 
              </br>
              </br>
              ※ 모든 사람들은 이 술게임을 한다고 해서 분위기가 전환될 것 같지 않다고 생각했지만 회장이 제안한 게임이라 불만을 표시하지 못하고 게임을 진행했다고 한다. 입력 설명
              </br>
              </br>
            </p>
            <div class = "headline">
              <h2>입력 설명</h2>
            </div>
            <p>
              입력의 첫 줄에는 테스트 케이스의 수 T가 주어진다. 각 테스트 케이스는 두 개의 정수 N(3≤N≤1,000), K(1≤K ≤1,000)가 주어진다. K는 N보다 클 수 있다. 출력 설명
            </p>
            </br>
            <div class = "headline">
              <h2>출력 설명</h2>
            </div>
            <p>
              각 테스트 케이스 별로 한 줄씩, 마지막에 서 있게 될 사람의 자리를 출력한다. 첫 번째로 앉는 사람의 자리는 1이며, 다른 사람들의 자리는 첫 번째 앉는 사람으로부터 시계 방향으로 2, 3, ...N 으로 정해진다.(첫 번째로 앉는 사람은 무조건 게임에 걸리지 앉게 되므로 분쟁을 막기 위해 재윤이가 앉기로 했다고 한다)
            </p>
            </br>
            <div class="row promo-service">
              <div class="col-md-6 md-margin-bottom-20">
                <div class = "headline">
                  <h2>예제 입력</h2>
                </div>
                <pre class = "problem-ex">
2
6 4
124 16</pre>
            </div>
              <div class="col-md-6 md-margin-bottom-20">
                <div class = "headline">
                  <h2>예제 출력</h2>                  
                </div>
                <pre class = "problem-ex">
2
117
                </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

