<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">연습문제</h1>
    </div>
</div>
<div class="container content">
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2">
      <div class = "tag-box tag-box-v3">
        <div class="row promo-service">
          <div class="col-md-12">
            <div class = "headline">
              <h2>문제설명</h2>
            </div>
            <p>
              로또시장이 포화상태가 되자 경용이는 로또를 대체할 수 있는 벤또를 생각한다. 로또는 45개의 수 중 6개를 임의로 고르는 게임이지만 벤또는 로또와 조금은 다르다. 1부터 N까지의 수 중 M개를 고르는 게임이다. 물론 N과 M은 매 게임마다 변하게 된다. 이러한 ‘스게’한 게임에 누가 참여를 할 까 싶지만 아람이는 벤또가 생긴 뒤 계속해서 참여를 해 왔다. 아람이는 자신만의 독특한 방법으로 수를 고른다. 이번에 고른 숫자는 이전에 고른 수보다 적어도 두 배가 되도록 고르기 때문이다. 예를 들어 N = 10, M = 4 일 때 아람이는 다음과 같이 수를 고를 수 있을 것이다.
              </br>
              </br>
              1 2 4 8</br>
              1 2 4 9</br>
              1 2 4 10</br>            
              </br>
              이제까지 한 번도 당첨이 되지 못한 아람이는 자신이 당첨되지 않은 이유가 한 번 게임을 할 때 벤또를 한 장밖에 사지 않았기 때문이라고 생각을 하고 모든 경우의 수에 해당하는 벤또를 살려고 한다. 그러기 위해서 돈이 얼마나 들지 궁금해 계산을 하기 위해 모든 경우의 수를 쓰기 시작했다. ‘다메 다메!!’우리가 아람이를 대신해 모든 경우의 수를 구해주자. ※ 스게(すげぇ) : 스고이(すご(凄)い)의 구어체. 다메 다메(だめ だめ)
              </br>
              </br>
            </p>
            <div class = "headline">
              <h2>입력 설명</h2>
            </div>
            <p>
              첫째 줄에 테스트 케이스의 개수 T가 주어진다. 각 테스트 케이스는 N(1≤N≤2,000)과 M(1≤M≤10)으로 이루어져 있다. M은 N보다 작거나 같음이 보장된다.
            </p>
            </br>
            <div class = "headline">
              <h2>출력 설명</h2>
            </div>
            <p>
              각 테스트 케이스별로 한 줄에 한 개씩 아람이가 벤또를 구입할 수 있는 경우의 수를 출력한다.
            </p>
            </br>
            <div class="row promo-service">
              <div class="col-md-6 md-margin-bottom-20">
                <div class = "headline">
                  <h2>예제 입력</h2>
                </div>
                <pre class = "problem-ex">
2
6 3
210 6</pre>
            </div>
              <div class="col-md-6 md-margin-bottom-20">
                <div class = "headline">
                  <h2>예제 출력</h2>                  
                </div>
                <pre class = "problem-ex">
4
3496444
                </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

