<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">문제</h1>
    </div>
</div>
<div class="container content">
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2">
      <div class = "tag-box tag-box-v3">
        <div class="row promo-service">
          <div class="col-md-12">
            <div class = "margin-bottom-40">
              <h1>원주연은 하루에 밥을 얼마나 먹을까?(1초)</h1>
            </div>
            <div class = "headline">
              <h2>문제 설명</h2>
            </div>
            <p>인하대학교 컴퓨터정보공학과에는 여러 소모임들이 존재한다. 그 중에 프로그래밍 실력 향상을 위해 밤낮으로 노력을 하는 Challenge The Programming(이하 CTP)이 있다. 현재 CTP 회원들 중 4학년이 되는 사람이 다수 있는데 다들 프로그래밍을 열심히 해서 그런지 정상인과는 조금 멀다는 것은 공공연한 비밀이다.(단 한명 정상이 있는데 그건 15년 회장이다.)</p>
            </br>
            <p>14년 부회장을 맡은 원주연 또한 정상인과는 먼 행보를 보여 왔다. 수없이 많은 그의 업적 중 한 가지를 얘기하자면 정삭적인 사람이라면 하루에 2∼3끼 정도 먹어야 하지만 주연이는 그렇지 않다. 주연이가 일반인과 다른 점은 하루에 번 밥을 먹는 것이다. 또한 밥을 먹을 때 매 끼니 일정한 양을 먹는 것이 아니라 만큼의 양을 먹는다. 어느날 주연이는 본인이 하루에 먹은 끼니의 양이 얼마나 되는지 세고 싶어졌다. 하지만 주연이의손가락은 열 개밖에 되지 않기 때문에 하루에 총 먹은 끼니의 양이 10이 넘어가면 세지 못한다.(왜 세지 못하는가에 대해서는 의문을 가지지 말자.) 이러한 주연이를 도와 주연이가 하루에 먹은끼니의 양을 세 주는 프로그램을 작성하자. </p>
            <div class = "headline">
              <h2>입력 설명</h2>
            </div>
            <p>입력의 첫 줄에 테스트 케이스의 수 T가 주어진다. 각 테스트 케이스의 첫 줄에는 주연이가하루에 먹은 끼니의 수 N (5 ≤ N ≤ 20) 이 주어진다. 다음 줄에는 N개의 끼니의 양 Q가 주어진다.(1 ≤ Q ≤ 10)
            </p>
            </br>
            <div class = "headline">
              <h2>출력 설명</h2>
            </div>
            <p>각 테스트 케이스마다 한 줄에 하나씩 주연이가 하루에 먹은 끼니의 총 양을 출력한다. 하루에 먹은 끼니의 총 양은 10 이상임이 보장된다.</p>
            </br>
            <div class="row promo-service">
              <div class="col-md-6 md-margin-bottom-20">
                <div class = "headline">
                  <h2>예제 입력</h2>
                </div>
                <pre class = "problem-ex">
2
4
9 4 2 5
2
3 8</pre>
            </div>
              <div class="col-md-6 md-margin-bottom-20">
                <div class = "headline">
                  <h2>예제 출력</h2>                  
                </div>
                <pre class = "problem-ex">
20
11
                </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

