<h3 class="blog-v4">답변</h3>  
<%@post.comments.each do |c| %>
    <div class="row blog-comments-v2 blog-comments-v2-reply">
        <div class="comments-itself">
            <%if user_signed_in? and c.id? %>
                <span><%=link_to "삭제하기", [c.post, c], method: 'delete'%></span>
            <%end%>
            <p><%=c.content%></p>            
        </div>
    </div>
<%end%>