<%= render 'breadcrum' %>
<div class="container content">
  <div class="row">
    <div class = "col-md-10 col-md-offset-1">
      <div class="panel panel-default margin-bottom-20">
        <table class="table table-hover post">
          <thead>
            <tr>
              <th class = "col-md-9 text-center">제목</th>
              <th class = "col-md-2 hidden-sm text-center">등록일</th>
            </tr>
          </thead>
          <tbody>
            <%@announces.reverse.each do |announce| %>
              <tr>
                <td class = "col-md-9 ">
                  <%= link_to announce.title, announce_path(announce) %>
                </td>
                <td class = "col-md-2 hidden-sm text-center">
                  <%= announce.created_at.strftime("%m-%d") %>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
