<%= render partial: 'shared/breadcrum', locals: {menu: "공지사항"} %>
<div class="container content">
  <div class="row">
    <div class = "col-md-8 col-md-offset-2">
      <div class="panel-group acc-v1 margin-bottom-40">
        <div class="panel panel-default post-panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <span class="accordion-toggle">
                <%= @announce.title %>
              </span>
            </h4>
          </div>
          <div class="panel-collapse collapse in">
            <div class="panel-body post-body">
              <%= @announce.content.html_safe %>
            </div>
          </div>
        </div>
      </div>
      <%= link_to '목록보기', announces_path, class: "btn-u" %>

    </div>
  </div>
</div>
