/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require unify/css/style.css
 *= require unify/css/app.css
 *= require unify/css/ie8.css
 *= require unify/css/blocks.css
 *= require unify/css/plugins.css
 *= require unify/css/plugins/style-switcher.css
 *= require unify/css/headers/header-default.css
 *= require unify/css/footers/footer-v1.css
 *= require unify/css/custom.css
 *= require unify/plugins/animate.css
 *= require unify/plugins/line-icons/line-icons.css
 *= require unify/plugins/font-awesome/css/font-awesome.min.css
 *= require unify/plugins/bootstrap/css/bootstrap.min.css

 */
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import "font-awesome-sprockets";
@import "font-awesome";
@import "summernote";
@import "announces";

pre.blog-body {
 background-color: #fff;
 color: #333;
 text-indent: 0px;
 padding: 10px;
 font-size: 11pt;
 border: 0px;
 line-height: 2em;
 font-family: 'Nanum Gothic', sans-serif;
}


table > tr, th > th, td {
padding: 5px 15px;
}
