// Place all the styles related to the problem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//*= require_self
 pre.problem-ex {
  text-indent: 0px;
  padding: 10px;
  font-size: 11pt;
  min-height: 120px;
}
