<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">등록</h1>
    </div>
</div>
<div class="container content">
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2">
      <div class = "tag-box tag-box-v3">
        <div class="row promo-service">          
          <div class = "col-md-12">
            <div class = "headline">
              <h2>성공적으로 등록되었습니다.</h2>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>


