<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">등록</h1>
    </div>
</div>
<div class="container content">
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2">
      <div class = "tag-box tag-box-v3">
        <div class="row promo-service">
            <div class="col-md-12">
                <div class = "headline">
                    <h2>팀 등록하기</h2>
                </div>
                <ul class="list-unstyled margin-bottom-15">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <%= link_to '수정', new_post_path, class: 'btn btn-default'%>
        <%= link_to '등록', new_post_path, class: 'btn btn-default'%>        
      </div>
    </div>
  </div>
</div>

